.Rectangle {
    display: flex;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    background-color: $melon;
    cursor: pointer;
    margin: 5px auto 5px auto;
}

.LabelText {
    margin: auto;
    @include Button-text;
}
